<div class="animate__animated animate__fadeIn">
    <h1 class="content-title">Dashboard</h1>
    <div class="grid-4">
        <div class="panel-primary bg-white panel-mini">
            <div>
                <h4 class="panel-title">Usuarios</h4>
                <h3 class="panel-number">0</h3>
            </div>
            <div class="center">
                <i class="fa-solid fa-users fs-30 color-dark"></i>
            </div>                            
        </div>
        <div class="panel-primary bg-white panel-mini">
            <div>
                <h4 class="panel-title">Usuarios</h4>
                <h3 class="panel-number">0</h3>
            </div>
            <div class="center">
                <i class="fa-solid fa-users fs-30 color-dark"></i>
            </div>                            
        </div>
        <div class="panel-primary bg-white panel-mini">
            <div>
                <h4 class="panel-title">Usuarios</h4>
                <h3 class="panel-number">0</h3>
            </div>
            <div class="center">
                <i class="fa-solid fa-users fs-30 color-dark"></i>
            </div>                            
        </div>
        <div class="panel-primary bg-white panel-mini">
            <div>
                <h4 class="panel-title">Usuarios</h4>
                <h3 class="panel-number">0</h3>
            </div>
            <div class="center">
                <i class="fa-solid fa-users fs-30 color-dark"></i>
            </div>                            
        </div>
    </div>   
</div>