/* Toast messages */

#toast {
    position: fixed;
    right: 32px;
    top: 32px;
    z-index: 99999;
}

.toast {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 4px;
    padding: 20px 0;
    min-width: 400px;
    max-width: 450px;
    border-left: 4px solid;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.25, 1.35);
}

.progress-track {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background: #ddd;
}

.progress-running {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    transition: all 0.5s;
}

.progress--success {
    background-color: #cc7dac;
}

.progress--loader {
    background-color: #cc7dac;
}

.progress--info {
    background-color: #2f86eb;
}

.progress--warning {
    background-color: #ffb702;
}

.progress--error {
    background-color: #ff623d;
}

@keyframes progress {
    to {
        width: 0%;
    }
}

@keyframes slideInLeft {
    from {
        transform: translateX(calc(100% + 32px));
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
        transform: translateX(calc(100% + 32px));
    }
}

.toast+.toast {
    margin-top: 24px;
}

.toast--success {
    border-color: #cc7dac;
}

.toast--success .toast__icon {
    color: #cc7dac;
}

.toast--loader {
    border-color: #cc7dac;
}

.toast--loader .toast__icon {
    color: #cc7dac;
}

.toast--info {
    border-color: #2f86eb;
}

.toast--info .toast__icon {
    color: #2f86eb;
}

.toast--warning {
    border-color: #ffc021;
}

.toast--warning .toast__icon {
    color: #ffc021;
}

.toast--error {
    border-color: #ff623d;
}

.toast--error .toast__icon {
    color: #ff623d;
}

.toast__icon {
    font-size: 24px;
}

.toast__close,
.toast__icon {
    padding: 0 16px;
}

.toast__body {
    flex-grow: 1;
}

.toast__title {
    font-size: 16px;
    font-weight: 600;
    color: #333;
}

.toast__msg {
    font-size: 14px;
    color: #888;
    margin-top: 6px;
    line-height: 1.5;
}

.toast__close {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.toast__close:hover {
    opacity: 0.8;
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content/Box */

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}


/* The Close Button */

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}